@using Microsoft.AspNetCore.Identity
@using WebClient.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
