@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>SCH rules!</h2>
    <a asp-controller="home" asp-action="cats">Would you like to see some cats?</a>
</div>
